
<div class="row mt-2 col align-center text-center mx-auto">
    <div class="card flex-fill" style="width: 64rem;">
        <div class="card-header text-white font-weight-bolder bg-primary">
            Road Blocks
        </div>
        <ul class="list-group list-group-flush">
            {{#each questions as |question|}}
            {{#if question.selected_id == 1 }}
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ question.display_name }}</h5>
                    <small class="text-muted">{{question.created_at}}</small>
                </div>
                <p class="mb-1">{{question.user_content}}</p>
            </a>
            {{/if}}
            {{/each}}
        </ul>
        <div class="card-footer">
            <button type="button" class="btn btn-outline-success">Success</button>
        </div>
    </div>
</div>



<div class="row mt-2 col align-center text-center mx-auto">
    <div class="card flex-fill" style="width: 64rem;">
        <div class="card-header text-white font-weight-bolder bg-success">
            Wins and Accomplishments
        </div>
        <ul class="list-group list-group-flush">
            {{#each questions as |question|}}
            {{#if question.selected_id == 2 }}
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ question.display_name }}</h5>
                    <small class="text-muted">{{question.created_at}}</small>
                </div>
                <p class="mb-1">{{question.user_content}}</p>
            </a>
            {{/if}}
            {{/each}}
        </ul>
        <div class="card-footer">
            <button type="button" class="btn btn-outline-success">Success</button>
        </div>
    </div>
</div>


<div class="row mt-2 col align-center text-center mx-auto">
    <div class="card flex-fill" style="width: 64rem;">
        <div class="card-header text-white font-weight-bolder bg-dark">
            Personal Improvement
        </div>
        <ul class="list-group list-group-flush">
            {{#each questions as |question|}}
            {{#if question.selected_id == 3 }}
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ question.display_name }}</h5>
                    <small class="text-muted">{{question.created_at}}</small>
                </div>
                <p class="mb-1">{{question.user_content}}</p>
            </a>
            {{/if}}
            {{/each}}
        </ul>
        <div class="card-footer">
            <button type="button" class="btn btn-outline-success">Success</button>
        </div>
    </div>
</div>



<div class="row mt-2 col align-center text-center mx-auto">
    <div class="card flex-fill" style="width: 64rem;">
        <div class="card-header text-white font-weight-bolder bg-danger">
            Leadership Support
        </div>
        <ul class="list-group list-group-flush">
            {{#each questions as |question|}}
            {{#if question.selected_id == 4 }}
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ question.display_name }}</h5>
                    <small class="text-muted">{{question.created_at}}</small>
                </div>
                <p class="mb-1">{{question.user_content}}</p>
            </a>
            {{/if}}
            {{/each}}
        </ul>
        <div class="card-footer">
            <button type="button" class="btn btn-outline-success">Success</button>
        </div>
    </div>
</div>



<div class="row mt-2 col align-center text-center mx-auto">
    <div class="card flex-fill" style="width: 64rem;">
        <div class="card-header text-white font-weight-bolder bg-primary">
            Future team goals
        </div>
        <ul class="list-group list-group-flush">
            {{#each questions as |question|}}
            {{#if question.selected_id == 5 }}
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ question.display_name }}</h5>
                    <small class="text-muted">{{question.created_at}}</small>
                </div>
                <p class="mb-1">{{question.user_content}}</p>
            </a>
            {{/if}}
            {{/each}}
        </ul>
        <div class="card-footer">
            <button type="button" class="btn btn-outline-success">Success</button>
        </div>
    </div>
</div>